
.icon-user:before { content: '\e800'; } /* '' */
.icon-doc-add:before { content: '\e801'; } /* '' */
.icon-user-add:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-tag:before { content: '\e804'; } /* '' */
.icon-check:before { content: '\e805'; } /* '' */
.icon-check-empty:before { content: '\e806'; } /* '' */
.icon-check-1:before { content: '\e807'; } /* '' */
.icon-info-circled:before { content: '\e808'; } /* '' */
.icon-cog:before { content: '\e809'; } /* '' */
.icon-edit:before { content: '\e80a'; } /* '' */
.icon-arrows-cw:before { content: '\e80b'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */
.icon-print:before { content: '\e80d'; } /* '' */
.icon-ok-circled:before { content: '\e80e'; } /* '' */
.icon-cancel-circled:before { content: '\e80f'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e810'; } /* '' */
.icon-clock:before { content: '\e811'; } /* '' */
.icon-doc:before { content: '\e812'; } /* '' */
.icon-wrench:before { content: '\e813'; } /* '' */
.icon-th-large:before { content: '\e814'; } /* '' */
.icon-help-circled:before { content: '\e815'; } /* '' */
.icon-arrows-ccw:before { content: '\e816'; } /* '' */
.icon-dot-3:before { content: '\e817'; } /* '' */
.icon-exchange-1:before { content: '\e818'; } /* '' */
.icon-resize-vertical:before { content: '\e819'; } /* '' */
.icon-loop-alt:before { content: '\e81a'; } /* '' */
.icon-article:before { content: '\e81b'; } /* '' */
.icon-trash:before { content: '\e81c'; } /* '' */
.icon-th:before { content: '\e81d'; } /* '' */
.icon-resize-vertical-1:before { content: '\e81e'; } /* '' */
.icon-plus:before { content: '\e81f'; } /* '' */
.icon-minus:before { content: '\e820'; } /* '' */
.icon-check-empty-1:before { content: '\f096'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-wpforms:before { content: '\f298'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */